.pieChart {
  height: 100%;
  width: 40%;
  padding-top: 0.5rem;
}
.pie {
  background: url("../assests/light-brown-texture-background-free-photo.jpg")
    center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.head {
  color: saddlebrown;
  position: fixed;
     top: 41vw;
    left: 5rem;
  font-family: Fantasy;
}
